@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/global" as *;

body {
    text-align: start;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;

    &__container {
        position: relative;
        width: 100%;
        text-align: center;
    }

    &__body {
        opacity: 0;
        animation-name: fadeinout;
        animation: fadeInOut 30s ease-in-out forwards, finalShow 1s forwards;
    }
}

.text__body:nth-child(1) {
    animation-delay: 0s;
}
.text__body:nth-child(2) {
    animation-delay: 5s;
}
.text__body:nth-child(3) {
    animation-delay: 15s;
}
.text__body:nth-child(4) {
    animation-delay: 20s;
}
.text__body:nth-child(5) {
    animation-delay: 25s;
}
.text__body:nth-child(6) {
    animation-delay: 30s;
}

.static {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo {
        max-width: 15rem;
        display: block;
    }

    &__img-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
